<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heqing.test.dao.TeacherDao">

   <resultMap id="teacherResult" type="Teacher" >
        <result column="t_id" property="id"></result>
        <result column="t_name" property="name"></result>   
        <result column="t_birthday" property="birthday"></result>      
        <result column="t_post" property="post"></result>    
	    <association column="t_id"  property="superviseClass"  javaType="Classes" select="getSuperviseClass" />
	    <collection  column="t_id" property="classDirector"  ofType="Classes"  select="getClassDirector" />
	    <collection  column="t_id" property="teachClasses"  ofType="Classes"  select="getTeachClasses" />
   </resultMap>
   
   <select id="getSuperviseClass" parameterType="Long" resultMap="com.heqing.test.dao.ClassesDao.classesResult">
        select c.id c_id,c.name c_name from classes c, teacher t where t.id =#{id} AND t.superviseclass_Id = c.id
    </select>
    
    <select id="getClassDirector" parameterType="Long" resultMap="com.heqing.test.dao.ClassesDao.classesResult">
        select c.id c_id,c.name c_name from classes c, teacher t where t.id =#{id} AND c.classDirector_id = t.id
    </select>
    
     <select id="getTeachClasses" parameterType="Long" resultMap="com.heqing.test.dao.ClassesDao.classesResult">
        select c.id c_id, c.name c_name from classes c where c.id in 
        (select tc.classes_id from teacher_classes tc where tc.teacher_id =#{id} )
    </select>

    <insert id="save" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into teacher (name,birthday,post) values (#{name},#{birthday},#{post})
    </insert>

    <update id="update" parameterType="teacher">
        update teacher set name = #{name},birthday = #{birthday},post = #{post}
        where id = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        delete from teacher where id = #{id}
    </delete>

    <select id="getById" parameterType="Long" resultMap="teacherResult">
        select t.id t_id,t.name t_name,t.birthday t_birthday,t.post t_post from teacher t where id = #{id} 
    </select>
    
    <select id="getByIds" parameterType="Long[]" resultMap="teacherResult">
        select t.id t_id,t.name t_name,t.birthday t_birthday,t.post t_post from teacher t where id in
	    <foreach collection="array" index="index" item="item" open="(" separator="," close=")">  
	            #{item}   
	    </foreach>  
    </select>

    <select id="findAll" resultMap="teacherResult">
        select t.id t_id,t.name t_name,t.birthday t_birthday,t.post t_post from teacher t 
    </select>

	<select id="getPageBean"  resultMap="teacherResult">
        select t.id t_id,t.name t_name,t.birthday t_birthday,t.post t_post from teacher t  where t.id limit #{0} , #{1} 
    </select>
</mapper>